<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478027104108-vu6bpkhrog1iqpf58o9feg02vmteree1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478027104108-vu6bpkhrog1iqpf58o9feg02vmteree1</string>
	<key>API_KEY</key>
	<string>AIzaSyDBJPhzsMB2xpl5w1bBvRofcnO1eIgC3oM</string>
	<key>GCM_SENDER_ID</key>
	<string>478027104108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SHARE</string>
	<key>PROJECT_ID</key>
	<string>share-37664</string>
	<key>STORAGE_BUCKET</key>
	<string>share-37664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478027104108:ios:5b0364bc740ef077fcfd49</string>
</dict>
</plist>